.home-container {
    background: #EFBE74;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: grid;
    grid-template-columns: 33% 64%;
    height: 86%;
}

.meetings {
    overflow: auto;
}