<div class="home-container">
    <app-header></app-header>
    <div class="wrapper">
    <h1 class = "centered-text">Часто задаваемые вопросы</h1>
    <div class="faq-question">
        <h3>Вопрос</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra aliquet eget sit amet. Pharetra pharetra massa massa ultricies mi. Tincidunt id aliquet risus feugiat in ante metus dictum at.</p>
    </div>
    <div class="faq-question">
        <h3>Вопрос</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra aliquet eget sit amet. Pharetra pharetra massa massa ultricies mi. Tincidunt id aliquet risus feugiat in ante metus dictum at.</p>
    </div>
    <div class="faq-question">
        <h3>Вопрос</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra aliquet eget sit amet. Pharetra pharetra massa massa ultricies mi. Tincidunt id aliquet risus feugiat in ante metus dictum at.</p>
    </div>
    <div class="faq-question">
        <h3>Вопрос</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra aliquet eget sit amet. Pharetra pharetra massa massa ultricies mi. Tincidunt id aliquet risus feugiat in ante metus dictum at.</p>
    </div>
    </div>
</div>
