<div class="home-container">
    <app-header></app-header>
    <section class="listing">
        <div class="header-center"><h1>Вход</h1></div>
        <div class="top-info">
        <form class="top-info" [formGroup]="applyForm" (submit)="submitApplication()">
            <mat-form-field class="example-full-width" color="accent">
                <mat-label>Логин</mat-label>
                <input id="login" type="text" formControlName="login" matInput #login maxlength="256" placeholder="Введите логин">
                <mat-hint align="start"><strong>Supporting text</strong> </mat-hint>
                <mat-hint align="end">{{login.value.length}} / 256</mat-hint>
              </mat-form-field>
            <!-- <label for="first-name">First Name</label> -->
            <!-- <input id="first-name" type="text" formControlName="firstName"> -->
    
            <mat-form-field class="example-full-width" color="accent">
                <mat-label>Пароль</mat-label>
                <input  id="password" type="text" formControlName="password" matInput #password maxlength="256" placeholder="Введите пароль">
                <mat-hint align="start"><strong>Supporting text</strong> </mat-hint>
                <mat-hint align="end">{{password.value.length}} / 256</mat-hint>
              </mat-form-field>
            <!-- <label for="last-name">Last Name</label>
            <input id="last-name" type="text" formControlName="lastName">
    
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email"> -->
            <button type="submit" mat-raised-button color="accent" class="example-full-width">Войти</button>
            <!-- <button type="submit" class="primary">Apply now</button> -->
        </form>
        </div>
    </section>

    <img class="meeple" src="../../assets/meeple.svg">
</div>